<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ZZ</display-name>
  
  <context-param>  
        <param-name>contextConfigLocation</param-name>  
        <param-value>  
            classpath:ApplicationContext.xml   
        </param-value>  
    </context-param>    
  <!-- Struts2过滤器的配置 -->  
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>        
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>    
     <!--配置spring的上下文监听，当web容器启动时，自动加载ApplicationContext.xml  -->
    <listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
   
<welcome-file-list>
    <welcome-file>/login.jsp</welcome-file>
  </welcome-file-list>
    
</web-app>
